<footer style="position: sticky; bottom: 0; height: 50px;">
    <ul class="list-unstyled">
        <li>
            Kid Connect Accounting created by <strong><a href="https://lloydindevelopment.com">Lloyd Nicholson</a></strong>
            using <a href="https://blazor.net">Blazor</a> and .NET Core.
        </li>
    </ul>
</footer>
