
<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>You've completed the questions!</MatDialogTitle>
    <MatDialogContent>

        @if (Score > 1 && Score <= 5)
        {
            <div>Ah, you achieved @Score / 10! Better luck next time!</div>
        }
        else if (Score > 5 && Score < 10)
        {
            <div>Well done, you achieved @Score / 10! Wow pretty good!</div>
        }
        else if (Score == 10)
        {
            <div>Amazing, you achieved @Score / 10! Brilliant</div>
        }
        else
        {
            <div>Wat gebeur!</div>
        }

    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { DialogIsOpen = false; Score = 0; StateHasChanged(); })">Restart</MatButton>
    </MatDialogActions>
</MatDialog>


@code {
    [Parameter]
    public int Score { get; set; }
    [Parameter]
    public bool DialogIsOpen { get; set; } = false;

}
