@if (Score > 1 && Score <= 5)
{
    <div>Ah, you achieved @Score / 10! Better luck next time!</div>
}
else if (Score > 5 && Score < 10)
{
    <div>Well done, you achieved @Score / 10! Wow pretty good!</div>
}
else if (Score == 10)
{
    <div>Amazing, you achieved @Score / 10! Brilliant</div>
}
else
{
    <div>Wat gebeur!</div>
}

@code {
    [Parameter]
    public int Score { get; set; }
}
