<h2>What account type (classification) are the following accounts?</h2>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div>
        <h3>{{ accountName }}</h3>
        <div
            fxLayout="row"
            fxLayoutAlign="center">
            <div>
                <mat-form-field color="primary">
                    <mat-select [formControl]="selectedClass" placeholder="account type">
                        <mat-option value="asset">Asset</mat-option>
                        <mat-optgroup label="Owner's Equity">
                            <mat-option value="drawings">Drawings</mat-option>
                            <mat-option value="expense">Expense</mat-option>
                            <mat-option value="capital">Capital</mat-option>
                            <mat-option value="income">Income</mat-option>
                        </mat-optgroup>
                        <mat-option value="liability">Liability</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectedClass.hasError('required')">A value is required.</mat-error>
                    <mat-hint *ngIf="status === 'incorrect'">Incorrect. Try another!</mat-hint>
                    <mat-hint *ngIf="status === 'correct'">Correct!</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-icon
                    *ngIf="status === 'correct'"
                    @thumbsUpState
                    color="primary">thumb_up
                </mat-icon>
                <mat-icon
                    *ngIf="status === 'incorrect'"
                    @thumbsDownState
                    color="accent">thumb_down
                </mat-icon>
            </div>
        </div>

    </div>
    <button #button [disabled]="form.invalid" mat-raised-button color="primary">Submit</button>
</form>
