@page "/account-classification"

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Account Classification</h2>
            <p>There are various different types of classifications such as Assets, Liabilities etc. and the only way to know them is to learn them parrot style. Repeat, Repeat, Repeat!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Question>
                <Header>
                    What account type (classification) are the following accounts?
                </Header>
                <Component>
                    <AccountTypeQuestion />
                </Component>
            </Question>

        </div>
    </div>
</div>

@code {

}
