@page "/testapiquestions"
@inject HttpClient http

@if (Accounts != null)
{
    <ul>
        @foreach (var acc in Accounts)
        {
            <li>@acc.Name</li>
        }
    </ul>
}

@code {
    public List<Account> Accounts { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Accounts = await http.GetJsonAsync<List<Account>>("v1/account");
    }
}
