<div class="card">
    <div>
        <div class="card-header">
            @if (Header == null)
            {
                <h4>Which side does the following account increase?</h4>
            }
            else
            {
                <h4>
                    @Header
                </h4>
            }
        </div>

        <div class="card-body">
            @Component
        </div>

        @if (Footer != null)
        {
            <div class="card-footer d-flex justify-content-around">
                @Footer
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment Component { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }
}
