a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.router {
    color: floralwhite;
    background: rgba(79, 103, 237, 0.37);
}

:host {
    position: fixed;
    top: 0;
    width: 100%;
    text-transform: uppercase;
    z-index: 1;
    box-shadow: 0 6px 8px 0 var(--initial-shadow-color);
}

/*.sidenav-button {*/
/*    display: block;*/
/*    height: 100%;*/
/*    margin: 0 8px 0 0;*/
/*    padding: 0;*/
/*}*/
