<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="over" #sidenav>
        <app-sidenav-list (didNavigate)="sidenav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (toggledNav)="sidenav.toggle()"></app-header>
        <main [@routeFadeState]="getAnimationData(outlet)">
            <router-outlet #outlet=outlet></router-outlet>
        </main>
<!--        <app-footer></app-footer>-->
    </mat-sidenav-content>
</mat-sidenav-container>
