@page "/"

<div class="row">
    <div class="col">
        <h2 class="body-header">Welcome to Kid Connect Accounting</h2>
        <p class="body-paragraph">
            The Kid Connect Accounting website is in <i><b>beta.</b></i> New exercises are going to be
            added throughout this beta period. Keep coming back to see what else has been added. The end goal is to have
            various different accounting documents available.
        </p>

        <h2 class="body-header">Test yourself</h2>
        <p class="body-paragraph">
            There are various ways that you can test yourself. Practicing your debits and credits is
            a good way to begin your accounting practice. <strong>ADE | LIC</strong> is an excellent place to start! This principle makes it easy to
            identify different accounts when you see them mentioned in transaction lists. These classifications are an
            extremely important part of accounting and need to be understood to be applied.
        </p>
        <p class="body-paragraph">
            The acronym <b>ADELIC</b> shows the classification account increasing on the debit or increasing on
            credit.
        </p>

        <div class="adelic">
            <div class="account-side">
                <h3>Debit</h3>
                <ul style="list-style: none; padding: 0">
                    <li><h4><b>A -</b> Assets</h4></li>
                    <li><h4><b>D -</b> Drawings</h4></li>
                    <li><h4><b>E -</b> Expenses</h4></li>
                </ul>
            </div>
            <div class="account-side">
                <h3>Credit</h3>
                <ul style="list-style: none; padding: 0">
                    <li><h4><b>L -</b> Liabilities</h4></li>
                    <li><h4><b>I -</b> Income</h4></li>
                    <li><h4><b>C -</b> Capital</h4></li>
                </ul>
            </div>
        </div>
    </div>
</div>
