.question-card {
    background-color: rgba(17, 70, 175, 0.15) !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.adelic {
    display: flex;
}

.account-side {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(17, 70, 175, 0.15);
    margin-right: 10px;
    padding: 10px;
    width: 200px;
}

    .account-side:hover,
    .account-side:focus,
    .account-side:active {
        box-shadow: 0 2px 10px 0 gray;
        transform: translateY(-2px);
        transition: box-shadow 500ms, transform 500ms;
    }

.website-footer {
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}
