@inject IAccountService AccountService

@if (Account != null)
{
    <h3>@Account.Name</h3>
    <div class="row">
        <div class="col-6">
            <MatSelect Label="Account Type" @bind-Value="TypeChosen">
                <MatOptionString Value="asset">Asset</MatOptionString>
                <MatOptionString Value="drawings">Drawings</MatOptionString>
                <MatOptionString Value="expense">Expense</MatOptionString>
                <MatOptionString Value="capital">Capital</MatOptionString>
                <MatOptionString Value="income">Income</MatOptionString>
                <MatOptionString Value="liability">Liability</MatOptionString>
            </MatSelect>
        </div>
        <div class="col-6">
            @if (DidAnswer)
            {
                @if (Correct)
                {
                    <MatIcon Icon="thumb_up" />
                    <span>Correct!</span>
                }
                else
                {
                    <MatIcon Icon="thumb_down" />
                    <span>Incorrect. Try another!</span>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-end">
            <MatButton Raised="true" OnClick="Answered">Submit</MatButton>
        </div>
    </div>
}

@code {
    public Account Account { get; set; }
    public string TypeChosen { get; set; }
    public bool Correct { get; set; }
    public bool DidAnswer { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        await GetAccount();
    }

    public async Task GetAccount()
    {
        Account = await AccountService.GetRandomAccount();
    }

    public async Task Answered()
    {
        DidAnswer = true;
        if (TypeChosen.Equals(Account.Classification.Type, StringComparison.CurrentCultureIgnoreCase))
        {
            Correct = true;
            await GetAccount();
        }
        else
        {
            Correct = false;
        }

        TypeChosen = null;
    }
}
