@using ClientApp.Shared.Models

<MatCard Class="question-card">
    <MatCardContent Class="m-2">
        <MatHeadline6>
            @if (Header == null)
            {
                <h3>Which side does the following account increase?</h3>
            }
            else
            {
                <h3>
                    @Header
                </h3>
            }
        </MatHeadline6>

        <MatBody1>
            @Component
        </MatBody1>
    </MatCardContent>
</MatCard>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }
    [Parameter]
    public RenderFragment Component { get; set; }
}
