<form (ngSubmit)="onSubmit()">
    <div fxLayout fxLayout.lt-sm="column">
        <div fxFlex.gt-sm="80">
            <table style="width: 100%">
                <tr>
                    <th>Transaction</th>
                    <th>Assets</th>
                    <th>Owner's Equity</th>
                    <th>Liabilities</th>
                </tr>
                <tr>
                    <td>{{ transaction }}</td>
                    <td>
                        <mat-form-field>
                            <input matInput type="text" placeholder="e.g. +1000" [formControl]="assetValue">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput type="text" placeholder="e.g. +1000" [formControl]="ownersEquityValue">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput type="text" placeholder="e.g. +1000" [formControl]="liabilitiesValue">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div fxFlex.gt-sm fxFlexAlign.gt-sm="center">
            <button mat-raised-button type="submit" color="primary">Check</button>
        </div>
    </div>
</form>
