/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    --block-color: rgba(17, 70, 175, 0.15);
    --initial-shadow-color: rgba(0, 0, 0, 0.2);
    --hover-shadow-color: rgba(0, 0, 0, 0.4);
    --primary-color: #3f51b5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-container {
    margin: 0 1rem 3rem 1rem;
}

.body-header {
    margin: 28px 0 0 0;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
}

.body-paragraph {
    margin: 1rem 0;
    font-size: 18px;
    line-height: 2rem;
}

.question-display-block {
    display: block;
    background-color: var(--block-color);
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 5px 0 var(--initial-shadow-color);
}

.question-display-block:hover,
.question-display-block:active,
.question-display-block:focus {
    box-shadow: 0 5px 20px 0 var(--hover-shadow-color);
    transform: translateY(-2px);
    transition: box-shadow 500ms, transform 500ms;
}

a {
    text-decoration: none;
    color: rgba(145, 61, 52, 0.79);
    font-weight: bold;
}

a:hover,
a:focus,
a:active {
    color: #9c716e;
    font-weight: bolder;
}
