:host {
    display: block;
    border: 1px solid black;
    margin: 2rem;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px lightgray;
}

button {
    margin: 10px;
}

.feedback {
    margin-top: 5px;
}
